<!DOCTYPE html>
<html>
{% load  staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body class="bg404 errorpage">
<section>
	<div class="wp">
		<div class="cont">
			<img src="{% static 'img/timg.jpg' %}"/>
		</div>
	</div>
</section>
</body>
</html>
