<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>{% block title %}在线网络学习平台{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block custom_css %} {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>

</head>


<body>
<section class="headerwrap ">
    <header>
		<div  class=" header">
 			<div class="top">
				<div class="wp">
					<!--登录后跳转-->
                        {% if request.user.is_authenticated %}
                                    <div class="personal">
                                      <dl class="user fr">
                                        <dd>{{ user.username }}<img class="down fr" src="{% static 'images/top_down.png' %}"/></dd>
                                        <dt><img width="20" height="20" src="{{ MEDIA_URL }}{{ request.user.image }}"/></dt>
                                      </dl>
                                      <div class="userdetail">
                                        <dl>
                                          <dt><img width="80" height="80" src="{{ MEDIA_URL }}{{ request.user.image }}" /></dt>
                                          <dd>
                                            <h2>{{ request.user.nick_name }}</h2>
                                            <p>{{ request.user.username }}</p>
                                          </dd>
                                        </dl>
                                        <div class="btn">
                                          <a class="personcenter fl" href="{% url 'users:user_info' %}">个人中心</a>
                                          <a class="fr" href="{% url 'logout' %}">退出</a>
                                        </div>
                                      </div>
                                    </div>
                                    <a href="{% url 'users:mymessage' %}">
                                      <div class="msg-num">
                                        <span id="MsgNum">{{ request.user.unread_nums }}</span>
                                      </div>
                                    </a>
                                  {% else %}
                                    <a style="color:white" class="fr registerbtn" href="{% url 'register' %}">注册</a>
                                    <a style="color:white" class="fr loginbtn" href="{% url 'login' %}">登录</a>
                                  {% endif %}
                                </div>
                              </div>

            <div class="middle">
                <div class="wp">
                    <a href="{% url 'index' %}"><img class="fl" src="{% static 'images/head.jpg' %}"/></a>
                    <div class="searchbox fr">
                        <div class="selectContainer fl">
                            <span class="selectOption" id="jsSelectOption" data-value="course">
                                公开课
                            </span>
                            <ul class="selectMenu" id="jsSelectMenu">
                                <li data-value="course">公开课</li>
                                <li data-value="org">课程机构</li>
                                <li data-value="teacher">授课老师</li>
                            </ul>
                        </div>
                        <input id="search_keywords" class="fl" type="text" value="" placeholder="请输入搜索内容"/>
                        <img class="search_btn fr" id="jsSearchBtn" src="{% static 'images/search_btn.png' %}"/>
                    </div>
                </div>
            </div>


			<nav>
				<div class="nav">
					<div class="wp">
						<ul>
							<li class="{% ifequal request.path '/' %}active{% endifequal %}"><a href="{% url 'index' %}">首页</a></li>
							<li class="{% ifequal request.path|slice:'7' '/course' %}active{% endifequal %}">
								<a href="{% url 'course:course_list' %}">
									公开课<img class="hot" src="{% static 'images/nav_hot.png' %}">
								</a>
							</li>
							<li class="{% ifequal request.path|slice:'12' '/org/teacher' %}active{% endifequal %}">
								<a href="{% url 'org:teacher_list' %}">授课教师</a>
							</li>
							<li class="{% ifequal request.path|slice:'9' '/org/list' %}active{% endifequal %}" ><a href="{% url 'org:org_list' %}">授课机构</a></li>
						</ul>
					</div>
				</div>
			</nav>

			</div>
    </header>
</section>
<!--crumbs start-->
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>课程机构</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}

{% endblock %}
<footer>
		<div class="footer">
			<div class="wp">
				<ul class="cont">
					<li class="logo"><td width="80">平台支持:&nbsp;&nbsp;</td><a href="http://s1.ananas.chaoxing.com/mooc/android/fanya_2.8.1(2016-08-31).apk"><img src="{% static 'images/android.png' %}"/></a></li>
					<li class="code"><img src="{% static 'images/code.png' %}"/><p class="center">扫描关注微信</p></li>
					<li class="third"><img class="fl" src="{% static 'images/tell.png' %}"/><p class="tell">13012345678</p><p class="time">周一至周日 9:00-18:00</p></li>
				</ul>

			</div>
			<p class="line"></p>
			<div class="wp clear">
                <span class="fl">Copyright 2013-2017 北京慕华信息科技有限公司</span>
                <span class="fr">京ICP证140571号 | 京公网安备 11010802017721广播电视节目制作经营许可证（京）字第05791号</span>
			</div>
		</div>

	</footer>

<section>
    <ul class="sidebar">
        <li class="qq">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2023525077&site=qq&menu=yes"></a>
        </li>
        <li class="totop"></li>
    </ul>
</section>
<script src="{% static 'js/selectUi.js' %}" type='text/javascript'></script>
<script src="{% static 'js/deco-common.js' %}" type='text/javascript'></script>
<script type="text/javascript" src="{% static 'js/plugins/laydate/laydate.js' %}"></script>
<script src="{% static 'js/plugins/layer/layer.js' %}"></script>
<script src="{% static 'js/plugins/queryCity/js/public.js' %}" type="text/javascript"></script>
<script src="{% static 'js/unslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/plugins/jquery.scrollLoading.js' %}"  type="text/javascript"></script>
<script src="{% static 'js/deco-common.js' %}"  type="text/javascript"></script>

{% block custom_js %}{% endblock %}

</body>
</html>
