{% extends 'base.html' %}
{% block title %}课程机构列表 - 在线IT学习平台{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="banner">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">
                            {% for banner in all_banners %}
                                <li>
                                    <a href="{{ banner.url }}">
                                        <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}" />
                                    </a>
                                </li>
                            {% endfor %}


						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>

				</div>


			</div>
<!--banner end-->
<!--feature start-->
	<section>
		<div class="wp">
			<ul class="feature">
				<li class="feature1">
                    <a href="http://www.xuetangx.com/courses?credential=0&amp;page_type=0&amp;cid=0&amp;process=0&amp;org=30&amp;course_mode=0" target="_blank" data-click="onClick" data-element="TOCOLLEGE#2" data-block="RECOMMEND#COLLEGES">
                        <img class="pic" src="/static/images/feature1.png"/>
                    </a>

				</li>
				<li class="feature2">
                     <a href="http://www.xuetangx.com/courses?credential=0&amp;page_type=0&amp;cid=0&amp;process=0&amp;org=30&amp;course_mode=0" target="_blank" data-click="onClick" data-element="TOCOLLEGE#2" data-block="RECOMMEND#COLLEGES">
					<img class="pic" src="/static/images/feature2.png"/>
                     </a>
				</li>
				<li class="feature3">
                    <a href="http://www.xuetangx.com/courses?credential=0&amp;page_type=0&amp;cid=0&amp;process=0&amp;org=30&amp;course_mode=0" target="_blank" data-click="onClick" data-element="TOCOLLEGE#2" data-block="RECOMMEND#COLLEGES">
					<img class="pic" src="/static/images/feature3.png"/>
					 </a>
				</li>
				<li class="feature4">
                     <a href="http://www.xuetangx.com/courses?credential=0&amp;page_type=0&amp;cid=0&amp;process=0&amp;org=30&amp;course_mode=0" target="_blank" data-click="onClick" data-element="TOCOLLEGE#2" data-block="RECOMMEND#COLLEGES">
					<img class="pic" src="/static/images/feature4.png"/>
					 </a>
				</li>
			</ul>
		</div>
	</section>
<!--feature end-->
<!--module1 start-->
	<section>
		<div class="module">
			<div class="wp">
				<h1>跟名校学生一起上课</h1>
				<div class="module1 eachmod" style="background-color: rgb(84,210,142)">
					<div class="module1_1 left">

						<a href="{% url 'course:course_list' %}"><img width="228" height="614" src="/static/img/40421.png"/></a>
					</div>
					<div class="right group_list">
						    <div class="module1_2 box">
							<div class="imgslide2">
								<ul class="imgs">
                                    {% for banner_course in banner_courses %}
                                        <li>
                                            <a href="{% url 'course:course_detail' banner_course.id %}">
                                                <img width="470" height="300" src="{{ MEDIA_URL }}{{ banner_course.image }}" />
                                            </a>
                                        </li>
                                    {% endfor %}

								</ul>
							</div>
							<div class="unslider-arrow2 prev"></div>
							<div class="unslider-arrow2 next"></div>
						</div>

                    {% for course in courses %}
                            <div class="module1_{{ forloop.counter|add:2 }} box">
                        <a href="{% url 'course:course_detail' course.id %}">
                            <img width="233" height="190" src="{{ MEDIA_URL }}{{ course.image }}"/>
                        </a>
                        <div class="des">
                            <a href="{% url 'course:course_detail' course.id %}">
                                <h2 title="{{ course.name }}">{{ course.name }}</h2>
                            </a>
                            <span class="fl">难度：<i class="key">{{ course.get_degree_display }}</i></span>
                            <span class="fr">学习人数：{{ course.students }}</span>
                        </div>
                        <div class="bottom">
                            <span class="fl" title="{{ course.course_org.name }}">{{ course.course_org.name }}</span>
                            <span class="star fr">{{ course.fav_num }}</span>
                        </div>
                    </div>
                    {% endfor %}


					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="module greybg">
			<div class="wp">
				<h1>合作伙伴</h1>
				<div class="module3 eachmod" style="background-color: rgb(255,210,177)">
					<div class="module3_1 left">
						<img width="228" height="463" src="/static/images/index_4.jpg"/>
						<p class="fisrt_word">名校来袭<br/>权威认证</p>
						<a class="more" href="{% url 'org:org_list' %}">更多伙伴 ></a>
					</div>
					<div class="right">
						<ul>
                            {% for org in course_orgs %}
                                <li class="{% if forloop.counter|divisibleby:'5' %}five{% endif %}">
                                    <a href="{% url 'org:org_home' org.id %}">
                                        <div class="company">
                                            <img width="184" height="100" src="{{ MEDIA_URL }}{{ org.image }}"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>{{ org.tag }}</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="{{ org.name }}">{{ org.name }}</span></p>
                                    </a>
                                </li>
                            {% endfor %}



						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

