{% extends 'base.html' %}
{% block title %}讲师详情 - 在线IT学习平台{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'org:teacher_list' %}">授课讲师</a>></li>
                <li>讲师详情</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
     <section>
        <div class="wp butler-detail-box butler-diaryd-box clearfix">
            <div class="fl list">
                <div class="butler_detail_list clearfix">
                    <div class="brief">
                        <dl class="des">
                            <dt>
                                <div class="picpic">
                                    <img width="100" height="100" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                                </div>
                                <div class="btn">
                                    <span class="fl btn1 collectionbtn" id="jsLeftBtn">
                                         {% if has_teacher_faved %}已收藏{% else %}收藏{% endif %}
                                    </span>
                                    <span class="fr btn2 shareBtn bdsharebuttonbox">
                                        <span class="fl">分享</span>
                                        <a href="#" class="bds_more" data-cmd="more"></a>
                                    </span>
                                </div>
                            </dt>
                            <dd>
                                <a href="/diary/hk_detail/10/">
                                    <h1>{{ teacher.name }}<span class="key picbig">金牌讲师</span></h1>
                                </a>
                                <ul class="cont">
                                    <li>工作年限：<span>{{ teacher.work_years }}</span></li>
                                    <li>就职公司：<span>{{ teacher.work_company }}</span></li>
                                    <li>工作职位：<span>{{ teacher.work_postion }}&nbsp;</span></li>
                                    <li>教学特点：<span>{{ teacher.points }}</span></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="butler_detail_cont clearfix">
                    <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active"><a href="/diary/hk_detail/10/">全部课程</a> </li>
                        </ul>
                    </div>
                        <div class="companycenter">
                            <div class="group_list brief">
                                {% for teacher_course in all_courses %}
                                    <div class="module1_5 box">
                                    <a href="{% url 'course:course_detail' teacher_course.id %}">
                                        <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher_course.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{% url 'course:course_detail' teacher_course.id %}"><h2>{{ teacher_course.name }}</h2></a>
                                        <span class="fl">时长：<i class="key">{{ teacher_course.learn_times }}</i></span>
                                        <span class="fr">学习人数：{{ teacher_course.students }}</span>
                                    </div>
                                    <div class="bottom">
                                        <span class="fl">{{ teacher_course.course_org.name }}</span>
                                        <span class="star fr  notlogin" data-favid="15">{{ teacher_course.fav_num }}</span>
                                    </div>
                                </div>
                                {% endfor %}



                            </div>
                        </div>
                    <!--<div class="pageturn">-->
                        <!--<ul class="pagelist">-->
                            <!--<li class="active"><a href="?page=1">1</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
                </div>
            </div>
            <div class="fr list">
                 <div class="butler_detail_list">
                    <div class="right butler-company-box">
                    <div class="head">
                        <h1>{{ teacher.org.name }}</h1>
                        <p>知名高校，权威教学</p>
                    </div>
                    <div class="pic">
                        <a href="{% url 'org:org_home' teacher.org.id %}">
                            <img width="150" height="80" src="{{ MEDIA_URL }}{{ teacher.org.image }}"/>
                        </a>
                    </div>
                    <a href="{% url 'org:org_home' teacher.org.id %}">
                        <h2 class="center">{{ teacher.org.name }}</h2>
                    </a>
                    <p class="center tell">地址：{{ teacher.org.address }}</p>
                    <a class="btn" id="jsRightBtn">{% if has_org_faved %}已收藏{% else %}收藏{% endif %}</a>
                </div>
                </div>
                <div class="butler_detail_cont">
                    <div class="butler_list_box">
                        <div class="right layout">
                            <div class="head">讲师排行榜</div>
                                {% for hot_teacher in sorted_teacher %}
                                    <dl class="des">
                                <span class="num fl">1</span>
                                <a href="{% url 'org:teacher_detail' hot_teacher.id %}">
                                    <dt>
                                        <img width="50" height="50" class="scrollLoading" src="{{ MEDIA_URL }}{{ hot_teacher.image }}"/>
                                    </dt>
                                </a>
                                <dd>
                                    <a href="{% url 'org:teacher_detail' hot_teacher.id %}">
                                        <h1 title="{{ hot_teacher.name }}">{{ hot_teacher.name }}</h1>
                                    </a>
                                    <p>工作年限：<span>{{ hot_teacher.work_years }}</span></p>
                                </dd>
                            </dl>
                                {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
<script>
    //收藏分享
    function add_fav(current_elem, fav_id, fav_type) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "{% url 'org:add_fav' %}",
            data: {'fav_id': fav_id, 'fav_type': fav_type},
            async: true,
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {
                if (data.status == 'fail') {
                    if (data.msg == '用户未登录') {
                        window.location.href = "{% url 'login' %}";
                    } else {
                        current_elem.text(data.msg)
                    }
                } else if (data.status == 'success') {
                    current_elem.text(data.msg)
                }
            },
            error: function(error) {
              alert('ajax 失败！')
            }
        });
    }
    $('#jsLeftBtn').on('click', function () {
        add_fav($(this), {{ teacher.id }}, 3);
    });
    $('#jsRightBtn').on('click', function () {
        add_fav($(this), {{ teacher.org.id }}, 2);
    });
</script>
{% endblock %}